<html>
<head>
<link rel="stylesheet" href="css/stylesheet.css"></link>
</head>

<body>
<h1>Start a blog Post</h1>
  <div id="postwindow">
  <form action='/add-post' method="POST">
  <hr>
    <h5>Your Blog Post Title</h5>
    <input type="text" name="title" placeholder="title" />
    <h5>Start posting below</h5>
    <textarea name="post" placeholder="Start wrting your post"></textarea><br>
    <input type="hidden" name="postId" value="{{postid}}" />
    <br>
    <button type="submit">Save</button>
  <hr>
  </form>
  </div>

</body>

</html>